<h2>Editing <%= @actor.name %></h2>

<%= form_for @actor do |f| %>

	<%= f.label :name %>
	<%= f.text_field :name %>
	
	<%= f.label :image %>
	<%= f.text_field :image %>
	
	<%= f.label :imdb %>
	<%= f.text_field :imdb %>
	

	
	<%= f.submit %>

<% end %>