<h1>Actors</h1>
<%= link_to "New Actor Entry", new_actor_path, class: 'btn btn-primary' %>

<div style="height:30px;"></div>

<div class="row">
<% @actors.each do |a| %>

		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<%= link_to image_tag(a.image), a %>
				<div class="caption">
					<h3 class="center"><%= link_to a.name, a %></h3>
					<p class="imdb"><%= link_to image_tag('http://vignette1.wikia.nocookie.net/planetterror/images/5/55/Imdb.png/revision/latest?cb=20140627161116'), a.imdb %></p>
				
				</div>
			</div>
		</div>

<% end %>
</div>

