<%= image_tag(@actor.image) %> 
<h2><%= @actor.name %></h2>
<p><%= link_to image_tag('http://vignette1.wikia.nocookie.net/planetterror/images/5/55/Imdb.png/revision/latest?cb=20140627161116'), @actor.imdb %></p>



<% if @movies.any? %>
	<% @movies.each do |m| %>
		<%= link_to m.title, m %>
	<% end %>
<% end %>


<p><%= link_to 'Edit', edit_actor_path, class: 'btn btn-info' %></p>
<p><%= link_to "All Actors", root_path, class: 'btn btn-primary' %></p>
<p><%= link_to "Delete Actor", actor_path(@actor), method: :delete, data: { confirm: "You really wanna do that huh?" }, class: 'btn btn-danger' %></p>
