<h2>Editing <%= @movie.title %></h2>

<%= form_for @movie do |f| %>

	<%= f.label :image %>
	<%= f.text_field :image %>
	
	<%= f.label :title %>
	<%= f.text_field :title %>
	
	<%= f.label :description %>
	<%= f.text_field :description %>
	
	<%= f.label :rating %>
	<%= f.text_field :rating %>
	
	<%= f.label :genre %>
	<%= f.text_field :genre %>
	
	<%= f.label :year %>
	<%= f.text_field :year %><br><br>
	
	<%= f.fields_for :actors do |a| %>
		<%= a.text_field :name %>
		<%= a.check_box :_destroy %>
		<%= a.label :_destroy, 'remove' %><br>
	<% end %>
	
	<%= f.submit %>

<% end %>