<h1>Movies</h1>
<%= link_to "New Movie Entry", new_movie_path, class: 'btn btn-primary' %>

<div style="height:30px;"></div>

<div class="row">
<% @movies.each do |m| %>

		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<%= link_to image_tag(m.image), m %>
				<div class="caption">
					<% link_to m.title, m %>
					<% m.actors.each do |a| %>
						<% link_to a.name, a %>
					<% end %>
					<p></p>
				</div>
			</div>
		</div>

<% end %>
</div>

