<h1>Movies#new</h1>
<p>Find me in app/views/movies/new.html.erb</p>

<%= form_for @movie do |f| %>
	<%= f.label :image %>
	<%= f.text_field :image %>
	
	<%= f.label :title %>
	<%= f.text_field :title %>
	
	<%= f.label :description %>
	<%= f.text_field :description %>
	
	<%= f.label :rating %>
	<%= f.text_field :rating %>
	
	<%= f.label :genre %>
	<%= f.text_field :genre %>
	
	<%= f.label :year %>
	<%= f.text_field :year %><br><br>
	
	<h2>Actors</h2>
	<%= f.fields_for :actors do |a| %>
		<%= a.label :name %>
		<%= collection_select(:actors, :id, @all_actors, :id, :name, {}, :multiple => true, :include_blank => true) %><br><br>
	<% end %>
	
	
	<%= f.submit %>
<% end %>