<%= image_tag(@movie.image) %> 
<h2><%= @movie.title %></h2>
<p><%= @movie.description %></p>
<p><%= @movie.rating %></p>
<p><%= @movie.genre %></p>
<p><%= @movie.year %></p>



<h3>Cast</h3>
<% if @actors.any? %>
	<% @actors.each do |a| %>
		<%= link_to a.name, a %><br>
	<% end %>
<% end %>

<div style="height:30px;"></div>

<p><%= link_to 'Edit', edit_movie_path, class: 'btn btn-info' %></p>
<p><%= link_to "All Movies", movies_path, class: 'btn btn-primary' %></p>
<p><%= link_to "Delete Movie", movie_path(@movie), method: :delete, data: { confirm: "You really wanna do that huh?" }, class: 'btn btn-danger' %></p>
