<%= form_for @show do |f| %>
	
	<%= f.label :name %><br>
	<%= f.text_field :name %><br><br>
	
	<%= f.label :image %><br>
	<%= f.text_field :image %><br><br>
	
	<%= f.label :description %><br>
	<%= f.text_field :description %><br><br>
	
	<%= f.label :genre %><br>
	<%= f.text_field :genre %><br><br>
	
	<%= f.label :rating %><br>
	<%= f.text_field :rating %><br><br>
	
	<%= f.fields_for :actors do |a| %>
		<%= a.text_field :name %>
		<%= a.check_box :_destroy %>
		<%= a.label :_destroy, 'remove' %><br>
	<% end %>
	
	<%= f.submit %>
	
<% end %>