<h1>Tv Shows</h1>
<%= link_to 'New Tv Show', new_show_path, class: 'btn btn-primary' %>

<div style="height:30px;"></div>

<div class="row">
<% @shows.each do |show| %>

		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<%= link_to image_tag(show.image), show %>
				<div class="caption">
					<% link_to show.name, show %>
					<% show.actors.each do |a| %>
						<% link_to a.name, a %>
					<% end %>
					<p></p>
				</div>
			</div>
		</div>

<% end %>
</div>
