<%= form_for @show do |f| %>
	
	<%= f.label :name %><br>
	<%= f.text_field :name %><br><br>
	
	<%= f.label :image %><br>
	<%= f.text_field :image %><br><br>
	
	<%= f.label :description %><br>
	<%= f.text_field :description %><br><br>
	
	<%= f.label :genre %><br>
	<%= f.text_field :genre %><br><br>
	
	<%= f.label :rating %><br>
	<%= f.text_field :rating %>
	
	<h2>Actors</h2>
	<%= f.fields_for :actors do |a| %>
		<%= a.label :name %>
		<%= collection_select(:actors, :id, @all_actors, :id, :name, {}, :multiple => true, :include_blank => true) %><br><br>
	<% end %>
	
	<%= f.submit %>
	
<% end %>