<%= image_tag(@show.image) %>
<h1><%= @show.name %></h1>
<p><%= @show.description %></p>
<p><%= @show.rating %></p>
<p><%= @show.genre %></p>


<div>
	<h3>Cast</h3>
	<% if @actors.any? %>
		<% @actors.each do |actor| %>
			<p><%= link_to actor.name, actor %></p>
		<% end %>
	<% end %>
	
</div><br>

<%= link_to 'Edit Show', edit_show_path, class: 'btn btn-info' %>
<%= link_to 'All Tv Shows', shows_path, class: 'btn btn-primary' %>
<%= link_to 'Delete Tv Show', show_path, method: :delete, class: 'btn btn-danger' %>